@model IPagedList<MaterialModel>
@{
    ViewData["Title"] = "Danh sách vật tư";
}

<h2>@ViewData["Title"].</h2>
<div>
    <button type="button" class="btn btn-default create-new--btn js-open-modal" 
            data-toggle="modal" data-target="#material-modal" data-form-type="add"
            data-modal-content-url="/Material/Edit/0">Tạo mới</button>
</div>

@Html.Partial("SmartPager", Model)

<form class="clearfix" asp-controller="Material" method="GET">
    <div class="search-box search-box--float-right">
        <div class="input-group col-md-12">
            <input id="query" name="query" value="@Context.Request.Query["query"]" type="text" class="form-control" placeholder="Tìm theo tên hoặc mô tả." />
            <span class="input-group-btn">
                <button class="btn btn-info" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table table-striped table-hover material-detail">
    <tbody>
        @if (Model != null && Model.Any())
        {
            var dummyDetail = Model.FirstOrDefault();
            <tr>
                <th>@Html.DisplayNameFor(m => dummyDetail.Id)</th>
                <th>@Html.DisplayNameFor(m => dummyDetail.Name)</th>
                <th>@Html.DisplayNameFor(m => dummyDetail.Description)</th>
                <th>@Html.DisplayNameFor(m => dummyDetail.Unit)</th>
                <th>@Html.DisplayNameFor(m => dummyDetail.UnitPrice)</th>
                <th>@Html.DisplayNameFor(m => dummyDetail.Active)</th>
                <th></th>
            </tr>

            @for (var index = 0; index < Model.Count; index++)
            {
                <tr>
                    <td>@Model[index].Id</td>
                    <td><a class="js-open-modal" 
                           data-toggle="modal" data-target="#material-modal" data-form-type="edit" 
                           data-modal-content-url="/Material/Edit/@Model[index].Id">@Model[index].Name</a></td>
                    <td>@Model[index].Description</td>
                    <td>@Model[index].Unit</td>
                    <td>@Model[index].UnitPrice</td>
                    <td>@Html.CheckBoxFor(m=> Model[index].Active)</td>

                    <td>
                        <a class="js-open-modal" 
                           data-toggle="modal" data-target="#material-modal" data-form-type="delete" 
                           data-modal-content-url="/Material/ConfirmDelete/@Model[index].Id">Xóa</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="modal fade" id="material-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
