@model IPagedList<MaterialModel>
@{
    ViewData["Title"] = "Vật tư";
}

<h2>@ViewData["Title"].</h2>

<h4>Danh sách vật tư</h4>

@Html.Partial("SmartPaging", Model)

<a class="create-new--btn" asp-controller="Material" asp-action="Edit">Tạo mới</a>
<table class="table material-detail">
    <tbody>
        @if (Model != null && Model.Any())
        {
            var dummyDetail = Model.FirstOrDefault();
            <tr>
                <th>@Html.DisplayNameFor(m => dummyDetail.Id)</th>
                <th>@Html.DisplayNameFor(m => dummyDetail.Name)</th>
                <th>@Html.DisplayNameFor(m => dummyDetail.Description)</th>
                <th>@Html.DisplayNameFor(m => dummyDetail.Unit)</th>
                <th>@Html.DisplayNameFor(m => dummyDetail.UnitPrice)</th>
                <th></th>
            </tr>

            @for (var index = 0; index < Model.Count; index++)
            {
                <tr>
                    <td>@Model[index].Id</td>
                    <td><a asp-controller="Material" asp-action="Edit" asp-route-id="@Model[index].Id">@Model[index].Name</a></td>
                    <td>@Model[index].Description</td>
                    <td>@Model[index].Unit</td>
                    <td>@Model[index].UnitPrice</td>

                    <td>
                        @*@if ((bool)ViewData["ShowRemoveButton"])
                            {*@
                        <a asp-controller="Material" asp-action="ConfirmDelete" asp-route-id="@Model[index].Id">Xóa</a>
                        @*}
                            else
                            {
                                @: &nbsp;
                            }*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


