@using System.Linq
@using Mica.Infrastructure.Extensions

@model IPagedList

@{
    var srTo = ViewData["sr-to"] != null ? ViewData["sr-to"]?.ToString() : "/Default";
    var from = Model.PageSize * (Model.PageNumber - 1) + 1;
    var to = from + Model.Count - 1;
}

<div>
    @if (Model.TotalItemCount == 0)
    {
        <span>Không có kết quả</span>
    }
    else
    {
        <span>Kết quả từ @from đến @to trên @Model.TotalItemCount kết quả.</span>
    }
</div>

@if (Model.TotalPageCount > 1)
{
    <ul class="pagination">
        @{
            var defaultCssClass = string.Empty;
            var disableCssClass = "disabled";
            var activeCssClass = "active";

            var prevPageClass = Model.HasPreviousPage ? defaultCssClass : $"{defaultCssClass} {disableCssClass}";
            var nextPageClass = Model.HasNextPage ? defaultCssClass : $"{defaultCssClass} {disableCssClass}";
        }

        <li class="@prevPageClass">
            <a title="Trang đầu"
               sr-can-redirect="@(Model.HasPreviousPage ? "True" : "False")"
               sr-to="@srTo"
               sr-route-pageSize="@Model.PageSize" sr-route-pageNumber="1">«</a>
        </li>
        <li class="@prevPageClass">
            <a title="Trang trước"
               sr-can-redirect="@(Model.HasPreviousPage ? "True" : "False")"
               sr-to="@srTo"
               sr-route-pageSize="@Model.PageSize" sr-route-pageNumber="@(Model.PageNumber - 1)">‹</a>
        </li>
        
        @if (Model.TotalPageCount > 5) // in case of very long long list
        {
            var start = Model.PageNumber - 2;
            var stop = Model.PageNumber + 2;
            if (start > 1)
            {
                <li>
                    <a title="1"
                       sr-to="@srTo"
                       sr-route-pageSize="@Model.PageSize" sr-route-pageNumber="1">1</a>
                </li>
                <li><a href="javscript:void(0);">...</a></li>
            }

            for (var pgNumber = start.NoLessThan(1); pgNumber <= stop.NoGreaterThan(Model.TotalPageCount); pgNumber++)
            {
                var isActive = Model.PageNumber == pgNumber;
                <li class="@(isActive ? $"{defaultCssClass} {activeCssClass}" : defaultCssClass)">
                    <a title="@pgNumber"
                       sr-to="@srTo"
                       sr-can-redirect="@(!isActive ? "True" : "False")"
                       sr-route-pageSize="@Model.PageSize" sr-route-pageNumber="@pgNumber">@pgNumber</a>
                </li>
            }

            if (stop < Model.TotalPageCount)
            {
                <li><a href="javscript:void(0);">...</a></li>
                <li class="@nextPageClass">
                    <a title="@Model.TotalPageCount"
                       sr-to="@srTo"
                       sr-route-pageSize="@Model.PageSize" sr-route-pageNumber="@Model.TotalPageCount">@Model.TotalPageCount</a>
                </li>
            }
        }
        else // just render it all
        {
            for (var pgNumber = 1; pgNumber <= Model.TotalPageCount; pgNumber++)
            {
                var isActive = Model.PageNumber == pgNumber;
                <li class="@(isActive ? $"{defaultCssClass} {activeCssClass}" : defaultCssClass)">
                    <a title="@pgNumber"
                       sr-to="@srTo"
                       sr-can-redirect="@(!isActive ? "True" : "False")"
                       sr-route-pageSize="@Model.PageSize" sr-route-pageNumber="@pgNumber">@pgNumber</a>
                </li>
            }
        }

        <li class="@nextPageClass">
            <a title="Trang tiếp"
               sr-to="@srTo"
               sr-can-redirect="@(Model.HasNextPage ? "True" : "False")"
               sr-route-pageSize="@Model.PageSize" sr-route-pageNumber="@(Model.PageNumber + 1)">›</a>
        </li>
        <li class="@nextPageClass">
            <a title="Trang cuối"
               sr-to="@srTo"
               sr-can-redirect="@(Model.HasNextPage ? "True" : "False")"
               sr-route-pageSize="@Model.PageSize" sr-route-pageNumber="@Model.TotalPageCount">»</a>
        </li>
    </ul>
}